<!DOCTYPE html>
<html lang="en">

{% include 'home/header.html' %}

<style>
    .gradient {
        background-color: #eeeeee;
        background-image: linear-gradient(180deg, #ffffff 0%, #abf774 100%); */ */
    }
</style>

<body class="gradient">
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% include 'home/footer.html' %}

</html>
