{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }

    .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

    .bi {
    vertical-align: -.125em;
    fill: currentColor;
    }

    .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    }

    .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
    z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
    }
</style>

<div class="col-lg-8 mx-auto p-4 py-md-5">

<main>
<h1 class="text-body-emphasis">Vendors</h1>
<p>
    <ul>
    {% for v in vendors %}
        <li>
            {{ v }}
        </li>
    {% endfor %}
    </ul>
</p>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
    <div class="col-md-6">
    <h2 class="text-body-emphasis">Starter projects</h2>
    <p>Ready to go beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
    <ul class="list-unstyled ps-0">
        <li>
        <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap npm starter
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Parcel starter
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Vite starter
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener" target="_blank">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Webpack starter
        </a>
        </li>
    </ul>
    </div>

    <div class="col-md-6">
    <h2 class="text-body-emphasis">Guides</h2>
    <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
    <ul class="list-unstyled ps-0">
        <li>
        <a class="icon-link mb-1" href="../getting-started/introduction/">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap quick start guide
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="../getting-started/webpack/">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Webpack guide
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="../getting-started/parcel/">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Parcel guide
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="../getting-started/vite/">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Bootstrap Vite guide
        </a>
        </li>
        <li>
        <a class="icon-link mb-1" href="../getting-started/contribute/">
            <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
            Contributing to Bootstrap
        </a>
        </li>
    </ul>
    </div>
</div>
</main>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

{% endblock %}